@import "./var.scss";
@import "./slider.scss";
@import "./button_next.scss";

.milk-balance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: $app-width;
  height: $content-section-height;
  background: linear-gradient(
                  to right bottom,
                  nth($balance-and-foam-background, 1),
                  nth($balance-and-foam-background, 2)
              );

  p {
    font-family: 'latohairline';
    font-size: 13vh;
    margin: 0;
    padding: 13vh 0;
  }

  @include style-slider(
    $fill-upper-color: $secondary-color,
    $fill-lower-color: $tertiary-color,
    $top: 60%,
    $left: 50%,
    $transform: translate(-50%, -60%)
  );
}

// oh god i forgot that it's not possible to animate SVG in IE/EDGE..
// back to js..

@keyframes balance {
  0% {
    transform: translateY(10%);
    opacity: 0.2;
  }

  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

.open .milk-balance {
  p {
    opacity: 0;
    animation: balance 0.2s linear .1s;
    animation-fill-mode: forwards;
  }
}

@keyframes balance-close {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100%{
    transform: translateY(-10%);
    opacity: 0;
  }
}

.close .milk-balance {
  p {
    animation: balance-close 0.3s linear;
    animation-fill-mode: forwards;
  }

  .next{
    opacity: 0;
  }
}
